
@{
    ViewData["Title"] = "ViewFile";
}
@model Dictionary<string, string>

<h1>ViewFile &nbsp;&nbsp; <span style="font-size:20px;">@Html.ActionLink("Logout", "Logout", "Login")</span></h1>
<div>
    <h3>@ViewBag.LoginMessage</h3>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <span>@item.Key&nbsp;</span>
            <span>&nbsp;@Html.ActionLink("Download File", "DownloadFile", "File", new { fileName = item.Key })</span>
            <br />
        }
    }
    else
    {
        <h1>No Files Found...</h1>
    }
    <br />
    @Html.ActionLink("Back to File Page", "Index", "File")
    @Html.ActionLink("View Files", "ViewFile", "File")
</div>


