@page
@model RazorPages.Pages.User.UserDetailModel

@{
    ViewData["Title"] = "UserDetail";
}

<div>
    <h4>User Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.City)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-success" asp-page="./EditUser" asp-route-id="@Model.UserDetails.Id">Edit</a> 
    <br /><br />
    <a asp-page="./DisplayUser">Back to List</a>
</div>
