@page "{id:int?}"
@model RazorPages.Pages.Customers.CustomerProjectsModel
@{
    ViewData["Title"] = "Customer Projects";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Projects == null || Model.Projects.Count == 0)
                {
                    <span>No Projects Found</span>
                }
            }
        </dd>
    </dl>
    @{
        if (Model.Projects != null && Model.Projects.Count > 0)
        {
            <div class="table-container">
                <div style="min-height: 240px;">
                    <div id="proj-header" class="table-list-header">
                        <div>
                            Project Id
                        </div>
                        <div>
                            Project Name
                        </div>
                        <div>
                            Project State
                        </div>
                        <div>Action</div>
                    </div>
                    @foreach (var item in Model.Projects)
                    {
                        <div id="proj-content" class="table-list-content">
                            <div>
                                @Html.DisplayFor(modelItem => item.ProjectId)
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.PDescription.First(x => x.PDescriptionId == item.PD).PCode)
                            </div>
                            <div>
                                <img id="action_image" src="~/images/action.svg" class="table-action-buttom" onclick="OpenAction(this)" data-assigned-id="@item.ProjectId" />
                                <div id="table-action-available-projId-@item.ProjectId" class="table-action-available" style="display: none;">
                                    <div class="table-action-available-container">
                                        <a class="table-tooltip" asp-page="./CustomerProjectEdit" asp-route-id="@item.ProjectId">
                                            <span class="table-tooltiptext">Edit</span>
                                            <img src="~/images/edit-button.svg" class="table-action-available-buttom" />
                                        </a>
                                        <a class="table-tooltip" asp-page="./CustomerProjectSkills" asp-route-id="@item.ProjectId">
                                            <span class="table-tooltiptext">Skills</span>
                                            <img src="~/images/detail-button.svg" class="table-action-available-buttom" />
                                        </a>
                                        <a class="table-tooltip" asp-page="./CustomerProjectDelete" asp-route-id="@item.ProjectId">
                                            <span class="table-tooltiptext">Delete</span>
                                            <img src="~/images/delete-button.svg" class="table-action-available-buttom" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                @if (Model.Projects.TotalPages > 0)
                {
                    <nav class="table-responsive">
                        <ul class="pagination justify-content-center d-flex flex-wrap">
                            @if (Model.Projects.PageIndex >= 1)
                            {
                                <li>
                                    <a asp-page="./CustomerProjects"
                                       asp-route-pageIndex="1"
                                       class="custom-pagination-list
                                        @(!Model.Projects.HasPreviousPage ? "disabled" : "")">
                                        First
                                    </a>
                                </li>
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjects"
                                       asp-route-pageIndex="@(Model.Projects.PageIndex - 1)"
                                       class="custom-pagination-list
                                        @(!Model.Projects.HasPreviousPage ? "disabled" : "")">
                                        Prev
                                    </a>
                                </li>
                            }

                            @for (var p = 1; p <= Model.Projects.TotalPages; p++)
                            {
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjects"
                                       asp-route-pageIndex="@p"
                                       class="custom-pagination-list
                                       @(p == Model.Projects.PageIndex ? "active" : "")">
                                        @p
                                    </a>
                                </li>
                            }

                            @if (Model.Projects.PageIndex <= Model.Projects.TotalPages)
                            {
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjects"
                                       asp-route-pageIndex="@(Model.Projects.PageIndex + 1)"
                                       class="custom-pagination-list
                                        @(!Model.Projects.HasNextPage ? "disabled" : "")">
                                        Next
                                    </a>
                                </li>
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjects"
                                       asp-route-pageIndex="@(Model.Projects.TotalPages)"
                                       class="custom-pagination-list
                                        @(!Model.Projects.HasNextPage ? "disabled" : "")">
                                        Last
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>

        }
    }
</div>

<div>
    <a class="custom-button add-project-button" asp-page="CustomerProjectCreate" asp-route-id="@Model.Customer.CustomerId">
        Add Project
    </a> <br /><br />
    <a asp-page="./Index">Back to List</a>
</div>

<script type="text/javascript">
    function OpenAction(elem) {
        var uid = $(elem).data('assigned-id');
        $('#table-action-available-projId-' + uid).slideToggle();
        var data = @Html.Raw(Json.Serialize(Model.Projects));
        data.forEach(ele => {
            if (ele.projectId != uid) {
                var eid = '#table-action-available-projId-'.concat(ele.projectId);
                $(eid).slideUp();
            }
        });
    }
</script>


