@page "{id:int?}"
@model RazorPages.Pages.Customers.CustomerProjectSkillsModel
@{
    ViewData["Title"] = "Customer Project Skills";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectSkills)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.ProjectSkills == null || Model.ProjectSkills.Count == 0)
                {
                    <span>No Project Skills Found</span>
                }
            }
        </dd>
    </dl>
    @{
        if (Model.ProjectSkills != null && Model.ProjectSkills.Count > 0)
        {
            <div class="table-container">
                <div style="min-height: 240px;">
                    <div id="skill-header" class="table-list-header">
                        <div>
                            Project Skill Id
                        </div>
                        <div>
                            Skill Code
                        </div>
                        <div>
                            Skill Title
                        </div>
                        <div>
                            Action
                        </div>
                    </div>
                    @foreach (var item in Model.ProjectSkills)
                    {
                        <div id="skill-content" class="table-list-content">
                            <div>
                                @Html.DisplayFor(modelItem => item.ProjectSkillId)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.SDescription.First(x => x.SDescriptionId == item.SD).SCode)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.SDescription.First(x => x.SDescriptionId == item.SD).Description)
                            </div>
                            <div>
                                <img id="action_image" src="~/images/action.svg" class="table-action-buttom" onclick="OpenAction(this)" data-assigned-id="@item.ProjectSkillId" />
                                <div id="table-action-available-skillId-@item.ProjectSkillId" class="table-action-available" style="display: none;">
                                    <div class="table-action-available-container">
                                        <a class="table-tooltip" asp-page="./CustomerProjectSkillEdit" asp-route-id="@item.ProjectSkillId">
                                            <span class="table-tooltiptext">Edit</span>
                                            <img src="~/images/edit-button.svg" class="table-action-available-buttom" />
                                        </a>
                                        <a class="table-tooltip" asp-page="./CustomerProjectSkillDelete" asp-route-id="@item.ProjectSkillId">
                                            <span class="table-tooltiptext">Delete</span>
                                            <img src="~/images/delete-button.svg" class="table-action-available-buttom" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.ProjectSkills.TotalPages > 0)
                {
                    <nav class="table-responsive">
                        <ul class="custom-pagination">
                            @if (Model.ProjectSkills.PageIndex >= 1)
                            {
                                <li>
                                    <a asp-page="./CustomerProjectSkills"
                                       asp-route-pageIndex="1"
                                       class="custom-pagination-list
                                        @(!Model.ProjectSkills.HasPreviousPage ? "disabled" : "")">
                                        First
                                    </a>
                                </li>
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjectSkills"
                                       asp-route-pageIndex="@(Model.ProjectSkills.PageIndex - 1)"
                                       class="custom-pagination-list
                                        @(!Model.ProjectSkills.HasPreviousPage ? "disabled" : "")">
                                        Prev
                                    </a>
                                </li>
                            }

                            @for (var p = 1; p <= Model.ProjectSkills.TotalPages; p++)
                            {
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjectSkills"
                                       asp-route-pageIndex="@p"
                                       class="custom-pagination-list
                                       @(p == Model.ProjectSkills.PageIndex ? "active" : "")">
                                        @p
                                    </a>
                                </li>
                            }

                            @if (Model.ProjectSkills.PageIndex <= Model.ProjectSkills.TotalPages)
                            {
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjectSkills"
                                       asp-route-pageIndex="@(Model.ProjectSkills.PageIndex + 1)"
                                       class="custom-pagination-list
                                        @(!Model.ProjectSkills.HasNextPage ? "disabled" : "")">
                                        Next
                                    </a>
                                </li>
                                <span>&nbsp;</span>
                                <li>
                                    <a asp-page="./CustomerProjectSkills"
                                       asp-route-pageIndex="@(Model.ProjectSkills.TotalPages)"
                                       class="custom-pagination-list
                                        @(!Model.ProjectSkills.HasNextPage ? "disabled" : "")">
                                        Last
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        }
    }
</div>
<p>
    <a class="custom-button add-skill-button" asp-page="CustomerProjectSkillAssign" asp-route-id="@Model.Project.ProjectId">Assign Skill</a>
    <br /><br />
    <a asp-page="./CustomerProjects" asp-route-id="@Model.Customer.CustomerId">Back to Customer Projects</a>
</p>

<script type="text/javascript">
    function OpenAction(elem) {
        var uid = $(elem).data('assigned-id');
        $('#table-action-available-skillId-' + uid).slideToggle();
        var data = @Html.Raw(Json.Serialize(Model.ProjectSkills));
        data.forEach(ele => {
            if (ele.projectSkillId != uid) {
                var eid = '#table-action-available-skillId-'.concat(ele.projectSkillId);
                $(eid).slideUp();
            }
        });
    }
</script>

